:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    }
    
    body {
    background-color: var(--cor-de-fundo);
    }
    .cabeçalho__menu-hamburguer {
  width: 24px;
   height: 24px;
 background-image: url(“../img/Menu.svg”);
 display: inline-block;
  } 
  @import url(“styles/header.css”);
  .cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .container {
    display: flex;
    align-items: center;
    }
    .lista-menu__titulo,
    .lista-menu__item {  padding: 1em;
        background-color: }

   
    